<nav-bar></nav-bar>


<div class="container" style="margin-bottom: 150px;">

  <div class="col-sm-12">
    <div>
      <a href="/reference"><button class="btn btn-secondary pull-right" style="margin-top: 3px;"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to stats</button></a>
      <h1>Info Page</h1>

    </div>

    <hr>
    <h2 class="infoh2">Reference Requests</h2>
    <ol style="font-size: 18px;">
      <li>Books</li>
      <li>Research topics</li>
      <li>Databases</li>
      <li>Periodicals</li>
      <li>Websites</li>
      <li>Reader printers</li>
      <li>Microfilm</li>
      <li>Job seeking</li>
      <li>Scanning</li>
      <li>Computer assistance</li>
    </ol>
    <hr>
    <h2 class="infoh2">Circulation Requests</h2>
    <ol style="font-size: 18px;">
      <li>Fax</li>
      <li>Money related requests</li>
      <li>Databases</li>
      <li>ILL</li>
      <li>Register library card</li>
      <li>Renewals</li>
      <li>Holds</li>
      <li>Xerox</li>
      <li>Checkout</li>
      <li>Notary</li>
      <li>Room reservations</li>
    </ol>
    <hr>
    <h2 class="infoh2">Directional Requests</h2>
    <ol style="font-size: 18px;">
      <li>Restrooms</li>
      <li>Room locations</li>
      <li>Program locations</li>
      <li>Redirect to different location</li>

    </ol>
  </div>


</div>
