<div style="position: relative;" class="tilecontent" ng-class="setupcompleteclass(detail)" ng-click="onTileClick(detail);">
  <h3 class="">{{get_time(detail.fromDate)}} - {{get_time(detail.toDate)}}</h3>

  <div ng-if = "detail.q1905" class="">
    <h4>{{detail.q1905 | limitTo : 40}}<span ng-if="detail.q1905.length > 40">...</span></h4>
    {{get_room_key(detail.eid)}}
  </div>
  <div ng-if = "!detail.q1905" class="">
    <h4>{{get_room_key(detail.eid)}}</h4>
    <span style="color: #b26275;">no program title provided</span>
  </div>

  <div>
    <i>{{detail.firstName}} {{detail.lastName}}</i>
    <span ng-if="detail.q1777"> - {{detail.q1777}} expected
    <br>
  </div>

  <div class="tileview setup_inst tilefullheight" ng-if="detail.q1906" style="padding-left: 10px;">
       {{detail.q1906}}
  </div>

  <div class="tileview setup_inst tilefullheight" ng-if="detail.q3710" style="padding-left: 10px; font-size: 12px; margin-top: 5px;">
       {{detail.q3710}}
  </div>

  <div class="setup_inst" ng-if="!detail.q1906" style="padding-left: 10px; color: #b26275;">
    no setup required
  </div>

  <span style="position: absolute; left: 10px; bottom: 5px; color: rgba(255, 255, 255,0.5); font-size: 10px;">{{detail.status}}</span>
  <i ng-if="detail.setup == true" style="color:#3cba54; position: absolute; right: 10px; bottom: 10px; font-size: 40px;" class="fa fa-check"></i>
</div>
