<div class="tileview_container">
  <section class="body">
    <i class=" tile_escape fa fa-times-circle-o" aria-hidden="true" ng-click="toggle_libcal_listview()"></i>
    <div ng-if="teamList" style="color: white;
                text-align: right;
                position: absolute;
                right: 70px;
                height: 50px">
         Set up Team {{thisMonday | date : "M/dd"}}-{{thisSunday | date : "M/dd"}}:<br> {{teamList}}
     </div>


    <div class="today-title table_parent"><span class="table_child">{{sortedarray[0].date}}</span></div>
    <div class="today">

      <div ng-if="(sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter).length <= 5
                && (sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter).length > 0"
                ng-repeat="detail in sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter" class="tile-event1 tile-event dashed-red">
        <tile-content></tile-content>
      </div>
      <div ng-if="(sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter).length > 5
                && (sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter).length <= 10"
                ng-repeat="detail in sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter" class="tile-event2 tile-event">
        <tile-content></tile-content>
      </div>
      <div ng-if="(sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter).length > 10 && sortedarray[0].eventinfo.length <= 15" ng-repeat="detail in sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter" class="tile-event3 tile-event">
        <tile-content></tile-content>
      </div>

      <div ng-if="(sortedarray[0].eventinfo | filter: categoryfilter | filter:cancelledfilter).length == 0" class="table_parent" style="height: 100%; width: 100%; text-align: center; border: 1px solid #535b6b; border-radius: 10px;">
        <div class="table_child">
          <div class="" style="display: inline-block; font-size: 20px; color: #535b6b;">
            No events today
          </div>
        </div>
      </div>
    </div>


    <div class="tomorrow-title table_parent"><span class="table_child">{{sortedarray[1].date}}</span></div>
    <div class="tomorrow ">

      <div ng-if="(sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter).length <= 5
               && (sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter).length > 0"
               ng-repeat="detail in sortedarray[1].eventinfo | filter:categoryfilter | filter:cancelledfilter" class="tile-event1 tile-event">
        <tile-content></tile-content>
      </div>
      <div ng-if="(sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter).length > 5
               && (sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter).length <= 10"
               ng-repeat="detail in sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter" class="tile-event2 tile-event">
        <tile-content></tile-content>
      </div>
      <div ng-if="(sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter).length > 10
               && (sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter).length <= 15"
               ng-repeat="detail in sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter" class="tile-event3 tile-event">
        <tile-content></tile-content>
      </div>
      <div ng-if="(sortedarray[1].eventinfo | filter: categoryfilter | filter:cancelledfilter).length == 0" class="table_parent" style="height: 100%; width: 100%; text-align: center; border: 1px solid #535b6b; border-radius: 10px;">
        <div class="table_child">
          <div class="" style="display: inline-block; font-size: 20px; color: #535b6b;">
            No events today
          </div>
        </div>
      </div>
    </div>
    </div>
  </section><!-- body -->
</div>
