<!-- Delete Modal -->
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="delete_modal_table" style="width:100%">
          <tr>
            <td class="delete_table_title">Date:</td>
            <td>{{delete_modal.date | date: 'MM/dd @ h:mm a'}}</td>
          </tr>
          <tr>
            <td class="delete_table_title">Request type:</td>
            <td>{{delete_modal.request_type}}</td>
          </tr>
          <tr>
            <td class="delete_table_title">Medium:</td>
            <td>{{delete_modal.medium}}</td>
          </tr>
          <tr>
            <td class="delete_table_title">Over 5 min:</td>
            <td>{{delete_modal.over_five == true ? 'Yes' : 'No'}}</td>
          </tr>
          <tr ng-if="delete_modal.comment">
            <td class="delete_table_title">Comment:</td>
            <td>{{delete_modal.comment}}</td>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click = "delete_request(delete_modal.id, delete_modal.index)" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!--Delete Modal-->



<!-- Comment Modal -->
<div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{comment_modal.request_type}} Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{comment_modal.comment}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!--Comment Modal-->





<!-- CSV Modal -->
<div class="modal fade" id="csv_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="csv_modal_content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Export to CSV</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="dropdown">
          <span>Branch:</span><br>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="csvdropdownMenuButton"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{csvbranch}}
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" ng-click = 'csvSelectBranch("Main")' href="#">Main</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("Belmont")' href="#">Belmont</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("Broad Rock")' href="#">Broad Rock</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("East End")' href="#">East End</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("Ginter Park")' href="#">Ginter Park</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("Hull Street")' href="#">Hull Street</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("North Avenue")' href="#">North Avenue</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("West End")' href="#">West End</a>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("Westover Hills")' href="#">Westover Hills</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" ng-click = 'csvSelectBranch("All Branches")' href="#">All Branches</a>
            </div> <!-- dropdown-menu -->
        </div> <!-- dropdown -->

        <div class="row" style="margin-top: 10px;">

          <div class="col-sm-6" >
              <span>Start:</span><br>
              <input type="date" class="form-control" id="csvstartdate" ng-model = "csvstartdate">
          </div>

          <div class="col-sm-6">
              <span>End:</span><br>
              <input type="date" class="form-control" id="csvenddate" ng-model = "csvenddate">
          </div>


        </div>


      </div> <!-- modal body -->
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="buildCSV()">Build</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!--Comment Modal-->
