<div class="col-sm-12" ng-if="calendartoggleswitch==false"><!--Log Table -->
  <div class="condensed_header">
    <h4>
      {{branch}} Branch: <span ng-if = "set_from.getDate() == set_to.getDate()">{{set_from | date:'MM/dd'}}</span><span ng-if = "set_from.getDate() != set_to.getDate()">{{set_from | date:'MM/dd'}} - {{set_to | date:'MM/dd'}}</span>
    </h4>
    <span>Total Events: {{condensed_calendar_array.length}}</span>  &middot;  <span>Unique Events: {{unique_count(condensed_calendar_array)}}</span>
  </div>
  <div class="" ng-class="loading_class">

    <table class="table table-hover events_table" id="stats_table" style="margin-top: 15px; font-size: 15px;">
      <thead>
        <tr>
          <td><a href="#" ng-click="sortType = 'checked'; sortReverse = !sortReverse">
            Select
            <span ng-show="sortType == 'checked' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'checked' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>


          <td><a href="#" ng-click="sortType = 'start'; sortReverse = !sortReverse">
            Date
            <span ng-show="sortType == 'start' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'start' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>

          <td><a href="#" ng-click="sortType = 'start_time'; sortReverse = !sortReverse" >
            Time
            <span ng-show="sortType == 'start_time' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'start_time' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>

          <td><a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
            Event Title
            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>

          <td><a href="#" ng-click="sortType = 'location.name'; sortReverse = !sortReverse">
            Location
            <span ng-show="sortType == 'location.name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'location.name' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>

          <td><a href="#" ng-click="sortType = 'category[0].name'; sortReverse = !sortReverse">
            Categories
            <span ng-show="sortType == 'category[0].name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'category[0].name' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>

          <td><a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
            Description
            <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>
          <td style="text-align: center;"><a href="#" ng-click="sortType = 'featured_image'; sortReverse = !sortReverse">
            Image
            <span ng-show="sortType == 'featured_image' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'featured_image' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>

          <td style = "width: 175px;" class=""><a href="#" ng-click="sortType = 'owner.name'; sortReverse = !sortReverse">
            Owner
            <span ng-show="sortType == 'owner.name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'owner.name' && sortReverse" class="fa fa-caret-up"></span>
          </a></td>

        </tr>
      </thead>
      <tbody><!--ng-repeat = "event_item in calendar_array"-->
          <tr ng-repeat = "event_item in condensed_calendar_array | orderBy:sortType:sortReverse" data-toggle="modal" data-target="#exampleModal" ng-click="assign_calevent_modal(event_item)">
              <td style="padding-left: 21px;" ng-click = "$event.stopPropagation()">
                <input class="condensed_check" ng-click = "$event.stopPropagation(); add_event_to_textfile(event_item)" ng-model = "event_item.checked" type="checkbox"/>
              </td>
              <td scope="row">{{event_item.start | date:'MM/dd'}}</td>
              <td scope="row">{{event_item.start_time}}</td>
              <td class="">{{(event_item.title | limitTo : 20) + (event_item.title.length > 15 ? '...' : '')}}</td>
              <td class="">
                <span ng-if="event_item.location.name">{{(event_item.location.name | limitTo : 20) + (event_item.location.name.length > 10 ? '...' : '')}}</span>
                <span ng-if="event_item.location.name == ''" style="color: red;">no location</span>
              </td>
              <td class="">
                <span ng-if="event_item.category.length != 0">{{event_item.category[0].name}}<span ng-if="event_item.category.length > 1"> (+{{event_item.category.length-1}})</span></span>
                <span ng-if="event_item.category.length == 0" style="color: red;">no category</span>
              </td>
              <td>
                <span ng-if="event_item.description">{{(event_item.description | htmlToPlainText | limitTo : 10)  + (event_item.description.length > 10 ? '...' : '')}}</span>
                <span ng-if="event_item.description == ''" style="color: red;">no description</span>
              </td>
              <td style="text-align: center;">
                <span ng-if="event_item.featured_image"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span ng-if="event_item.featured_image==''" style="color: red;"><i class="fa fa-times" aria-hidden="true"></i></span>
              </td>
              <td>{{(event_item.owner.name | limitTo : 10) + (event_item.owner.name.length > 10 ? '...' : '')}}</td>
          </tr>

      </tbody>
    </table>


  </div><!--col-sm-12-->
</div><!--row-->





<modals></modals>
