<div ng-if="calendartoggleswitch==true" style="width: 100%;" class="cal_event_container col-sm-12" ng-repeat="event_item in calendar_array">
  <h2 style="margin-bottom: 20px">{{event_item.date}}</h2>
    <div ng-if="event_item.eventinfo.length > 0">
      <div class="row" style = "margin-bottom: 10px;" ng-repeat = "item in event_item.eventinfo">
        <div class="col-xs-12 col-md-6" id="event_content_div">
          <a href={{item.url.public}} target="/" style="color: black;"><h4 style="margin-bottom: 10px;">{{item.title}}</h4></a>
          <h6 ng-if="item.location.name">{{item.location.name}}: {{item.start_time}} - {{item.end_time}}</h6>
          <div ng-if="item.location.name==''">
            <h6 style="color: red;">No location added.  Please contact <i>{{item.owner.name}}</i>.</h6>
            <h6>{{item.start_time}} - {{item.end_time}}</h6>
          </div><!--no location added error -->
          <p ng-if="item.description" ng-bind-html="item.description"></p>
          <h6 ng-if="item.description==''" style="color: red;">No description added.  Please contact <i>{{item.owner.name}}</i>.</h6>
          <!-- {{| htmlToPlainText}} -->
          <h6>Organizer: {{item.owner.name}}</h6>
          <h6 ng-if="item.category.length > 0">Categories:
            <span ng-repeat="cat in item.category">
              <span ng-show="!$last">{{cat.name}}, </span><span ng-show="$last">{{cat.name}}</span>
            </span>
          </h6>
          <h6 ng-if="item.category.length == 0" style="color: red;">No categories added.  Please contact <i>{{item.owner.name}}</i>.</h6>
        </div>
        <div class="col-xs-12 col-md-6" id="featured_img_div">
          <div ng-if="item.featured_image">
            <a href="{{item.featured_image}}" target='/'><img id="calendar_featured_img" src={{item.featured_image}} alt=""></a>
          </div>
          <div ng-if="!item.featured_image" class="table_parent" style="height: 200px; width: 200px;">
            <span class="table_child" style="text-align: center; background-color: #D3D3D3; padding: 10px;"><h6 style="color: red;">No image added.  Please contact <i>{{item.owner.name}}</i>.</h6></span>
          </div>
        </div>
        <div style="width: 100%;">
          <hr style="margin-right: 25%;">
        </div>

      </div><!--ng-repeat, row -->

    </div><!--ng-if eventinfo.length<0 -->

    <div ng-if="event_item.eventinfo.length == 0">
      <h5 style="font-weight: 400;">There are no bookings today.</h5>
    </div>
</div>
