<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href={{calevent_modal.url.public}} target="/" style="color: black;"><h5 class="modal-title" id="exampleModalLabel">{{calevent_modal.title}}</h5></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 50%; display: inline-block; padding-right: 15px;">
          <h5 ng-if="calevent_modal.location.name">{{calevent_modal.location.name}}: {{calevent_modal.start_time}} - {{calevent_modal.end_time}}</h5>
          <div ng-if="calevent_modal.location.name==''">
            <h5 style="color: red;">No location added.  Please contact <i>{{calevent_modal.owner.name}}</i>.</h5>
            <h5>{{calevent_modal.start_time}} - {{calevent_modal.end_time}}</h5>
          </div><!--no location added error -->

          <p ng-if="calevent_modal.description" ng-bind-html="calevent_modal.description"></p>
          <h6 ng-if="calevent_modal.description==''" style="color: red;">No description added.  Please contact <i>{{calevent_modal.owner.name}}</i>.</h6>
          <h6>Organizer: {{calevent_modal.owner.name}}</h6>
          <h6 ng-if="calevent_modal.category.length > 0">Categories:
            <span ng-repeat="cat in calevent_modal.category">
              <span ng-show="!$last">{{cat.name}}, </span><span ng-show="$last">{{cat.name}}</span>
            </span>
          </h6>
          <h6 ng-if="calevent_modal.category.length == 0" style="color: red;">No categories added.  Please contact <i>{{calevent_modal.owner.name}}</i>.</h6>
        </div><!--50% div -->
<!-- IMAGE SECTION -->
        <div class="modal_image_container">
          <div ng-if="calevent_modal.featured_image">
            <a href="{{calevent_modal.featured_image}}" target='/'><img  class="modal_image" src={{calevent_modal.featured_image}} alt=""></a>
          </div>
          <div ng-if="!calevent_modal.featured_image" class="table_parent" style="width: 250px; height: 250px;">
            <span class="table_child" style="text-align: center; background-color: #D3D3D3; padding: 10px;"><h6 style="color: red;">No image added.  Please contact <i>{{calevent_modal.owner.name}}</i>.</h6></span>
          </div>
        </div>
<!-- IMAGE SECTION -->
      </div><!--modal-body -->
      <div class="modal-footer">
        <a href={{calevent_modal.url.admin}} target="/"><button type="button" class="btn btn-success">Edit Event</button></a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
