<div ng-if = "data_not_available == false" class="event_data_container_div">
  <div class="col-sm-12" ng-repeat="event_item in sortedarray">
      <h2 style="margin-bottom: 20px;">{{event_item.date}}</h2>
      <div ng-if="event_item.eventinfo.length > 0">
        <div style = "margin-bottom: 10px;" ng-repeat = "detail in event_item.eventinfo | filter: categoryfilter">
          <div ng-if="detail.status != 'Cancelled by Admin'">
            <h4 ng-if = "detail.cid != '2710'">{{get_room_key(detail.eid)}} : {{get_time(detail.fromDate)}} - {{get_time(detail.toDate)}}</h4>
            <h6 ng-if = "detail.cid == '2710'" style="margin-bottom: 5px;">{{get_room_key(detail.eid)}} : {{get_time(detail.fromDate)}} - {{get_time(detail.toDate)}}</h6>
            <div style="padding-left: 5px;">
              Name: {{detail.firstName}} {{detail.lastName}}
              <br>
              Email: {{detail.email}}
              <br>
              <div ng-repeat = "(number, question) in detail.questions">
                {{question}}
              </div>
              Status: {{detail.status}}
            </div>

            <hr style="margin-right: 25%;">

          </div>
        </div>
      </div>
      <div ng-if="event_item.eventinfo.length == 0">
        <h5 style="font-weight: 400;">There are no bookings today.</h5>
      </div>
  </div><!--col-sm-12-->
</div><!-- ng-if data_not_available == false -->
<div ng-if = "data_not_available == true" style="padding-left: 10px;" class="event_data_container_div">
  <h5 style="font-weight: 400;">{{message}}</h5>
</div>
