<nav-bar></nav-bar>

<div class="container">
  <div class="row">
    <div class="col-sm-12" style="padding-top: 15px;">
      <h1 style="text-align: center;">Welcome to the Richmond Public Library Intranet!</h1>
    </div>
  </div>

  <div class="text-center">
    <img style = "width: 250px; padding-top: 10vh; margin-left: -30px;" src="{{staticfiles('img/floating_otter.png')}}" alt="Ripple Otter">
  </div>

  <div class="row">
    <div class="col-sm-12 dashed" style="padding-top: 10vh" style="text-align: center;">
      <h4 style="text-align: center;">Use the dropdown menu above to select your desired app</h4>
    </div>
  </div>


</div>
